*{
    /* background:rgba(0,0,0,.1); */
    box-sizing: border-box;
    transition: background .2s;
    outline: none;
}
.fr{
    float: right;
}
body{
    background: #002d4be7;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}
h1{
    text-align: center;
}
.task-list{
    margin: 10px 0;
}
input,.task-item,button,.task-detail-mask,textarea{
    border-radius: 3px;
    padding: 10px;
}
textarea,
button,
input[type='text'],input[type=date]{
    border: 0;
}
textarea,
input[type='text'],input[type=date]{
    border: 0;
    display: block;
    width: 100%;
    background: #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
textarea{
    min-height: 100px;
}
input[type='text']:hover,
input[type='text']:focus,
input[type=date]:hover,
input[type=date]:focus{
    background: #fff;
}
button{
    display: inline-block;
    cursor: pointer;
    border: 0;
    color: #333;
}
.add-task input[type=text]{
    float: left;
    width: 84%;
    margin-right: 1%;
}
.add-task [type=submit]{
    background: #46b1e4;
    width: 15%;
}
.add-task [type=submit],
.task-item{
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}
.add-task [type=submit]:hover{
background-color: #5fb9e4;
}
.task-item{
    padding: 10px;
    background: #fff;
    color: #333;
    margin-bottom: 2px;
    cursor: pointer;
}
.task-item:hover{
    background: #ddd;
}

.task-detail-mask,
.task-detail{
    position: absolute;
    
}
.task-detail{
    background: #fff;
    color: #333333;
    width: 50%;
    height: 100%;
    padding: 10px;
    bottom: 0;
    right: 0;
    display: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.task-detail .content{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.task-detail .input-item{
    margin:10px 0;
}
.task-detail-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(100,100,100,.6);
    display: none;
}
.task-content{
    margin-left: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.anchor{
    color: #999;
    font-size: 90%;
}
.anchor:hover{
    color: #333;
}